/* Primary stylesheet for the San Joaquin Valley Town Hall website Author: Robin Guyton */

/*********************************************************
* Description: Primary Style Sheet for ValleyTownHall.com
* Author: Anne Boehm
*********************************************************/
body {
    background-color: #FACD8A; /* This is a shade of orange. */
    }
    h1 {
    color: #363636;
    }
    h2 {
    font-style: italic;
    border-bottom: 3px solid #EF9C00; /* Add a line below h2s */
    }
    ul {
    list-style-type: square; /* Changes the bullets to squares */
    }

    
    .content { background-color: blue; /* "blue" is not a valid color value. It should be "blue". */ }