/*********************************************************
* Description: Primary Style Sheet for ValleyTownHall.com
* Author: Anne Boehm
*********************************************************/
body {
    background-color: #FACD8A; /* This is a shade of orange. */
    }
    h1 {
    color: #363636;
    }
    h2 {
    font-style: italic;
    border-bottom: 3px solid #EF9C00; /* Add a line below h2s */
    }
    ul {
    list-style-type: square; /* Changes the bullets to squares */
    }
    Murach's HTML and CSS, 5th Edition© 2022, Mike Murach & Associates, Inc. C2, Slide 13
    